In [44]:
# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# import as usual
import numpy as np
import function as f
# autoreload

In [21]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [66]:
birth_df = function.create_df_from_csv('../data/us_births_2016_2021.csv')
birth_extended = function.create_df_from_csv('../data/Natality, 2007-2021.txt')
birth_df

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3
...,...,...,...,...,...,...,...,...,...
5491,Wyoming,WY,2021,M,"Associate degree (AA, AS)",5,401,29.2,3261.1
5492,Wyoming,WY,2021,M,"Bachelor's degree (BA, AB, BS)",6,657,30.7,3286.0
5493,Wyoming,WY,2021,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,261,33.0,3249.3
5494,Wyoming,WY,2021,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,72,33.3,3262.0
5495,Wyoming,WY,2021,M,Unknown or Not Stated,-9,41,29.2,3177.5

In [57]:
fieldstoremove= ['Notes','State Code', 'Year Code', 'Marital Status Code', 'Tobacco Use Code', 'Diabetes Code']
birth_extended1 = f.remove_field(fieldstoremove, birth_extended)
birth_extended2 = birth_extended1.drop(index=[3303, 3310, 3318, 3393, 3417, 5636])

In [59]:
ave = list(birth_extended2['Average Birth Weight'])
ave
average= []
for i in ave:
    average.append(float(i))

376.22

In [67]:
new = f.grams_to_lbs_in_df(birth_df, 'Average Birth Weight (g)')
new

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g),Weight (lbs)
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9,6.871473
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0,6.701940
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0,6.790123
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9,6.882496
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3,6.998016
...,...,...,...,...,...,...,...,...,...,...
5491,Wyoming,WY,2021,M,"Associate degree (AA, AS)",5,401,29.2,3261.1,7.189374
5492,Wyoming,WY,2021,M,"Bachelor's degree (BA, AB, BS)",6,657,30.7,3286.0,7.244268
5493,Wyoming,WY,2021,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,261,33.0,3249.3,7.163360
5494,Wyoming,WY,2021,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,72,33.3,3262.0,7.191358
5495,Wyoming,WY,2021,M,Unknown or Not Stated,-9,41,29.2,3177.5,7.005071